@page "/warehouse"
@inject WarehouseService _service
@using HelloOrleans.Models;

<h3>Warehouse</h3>


<input @bind="@_goodsId" placeholder="Id" />
<input @bind="@_goodsName" placeholder="GoodsName" />
<button @onclick="@Add">
    Add New Basic Goods
</button>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>GoodsName</th>
        </tr>
    </thead>
    <tbody>

        @if (_allBasicGoods != null)
        {
            @foreach (var item in _allBasicGoods)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.GoodsName</td>
                </tr>
            }
        }
    </tbody>
</table>


@code {

    private int? _goodsId;
    private string _goodsName;

    private BasicGoods[] _allBasicGoods;

    protected override async Task OnInitializedAsync()
    {
        await this.GetAllGoods();
    }

    private async Task GetAllGoods()
    {
        var t = await _service.All();
        _allBasicGoods = t.ToArray();
    }

    private async Task Add()
    {
        if (_goodsId == null || string.IsNullOrWhiteSpace(_goodsName))
            return;
        if (_allBasicGoods.Select(x => x.Id).ToList().Contains(_goodsId.GetValueOrDefault())
            || _allBasicGoods.Select(x => x.GoodsName).ToList().Contains(_goodsName))
            return;
        await _service.Add(new BasicGoods()
        {
            Id = this._goodsId.GetValueOrDefault(),
            GoodsName = this._goodsName
        });
        _goodsId = null;
        _goodsName = null;
        await this.GetAllGoods();
    }
}
