@page "/warehouse"
@inject HttpClient http;

<h3>Warehouse</h3>


<input @bind="@_goodsId" placeholder="Id" />
<input @bind="@_goodsName" placeholder="Goods Name" />
<button @onclick="@Add">
    Add New Basic Goods
</button>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Goods Name</th>
        </tr>
    </thead>
    <tbody>

        @if (_allBasicGoods != null)
        {
            @foreach (var item in _allBasicGoods)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.GoodsName</td>
                </tr>
            }
        }
    </tbody>
</table>


@code {
    private readonly string _host = $"{Data.Host}/Warehouse";
    private long? _goodsId;
    private string _goodsName;

    private BasicGoods[] _allBasicGoods;

    protected override async Task OnInitializedAsync()
    {
        await GetAllGoods();
    }

    private async Task GetAllGoods()
    {
        var t = await http.GetJsonAsync<BasicGoods[]>($"{_host}/All");
        _allBasicGoods = t.ToArray();
    }

    private async Task Add()
    {
        if (_goodsId == null || string.IsNullOrWhiteSpace(_goodsName))
            return;
        if (_allBasicGoods.Select(x => x.Id).ToList().Contains(_goodsId.GetValueOrDefault())
            || _allBasicGoods.Select(x => x.GoodsName).ToList().Contains(_goodsName))
            return;

        await http.PostJsonAsync($"{_host}/Add", new BasicGoods
        {
            Id = _goodsId.GetValueOrDefault(),
            GoodsName = _goodsName
        });
        _goodsId = null;
        _goodsName = null;
        await GetAllGoods();
    }

}